.input {
    width: 300px;
}

.formcontrol {
    // display: block;
    // padding: 0.375rem 0.75rem;
    // font-size: 1rem;
    // font-weight: 400;
    // line-height: 1.5;
    // color: #212529;
    // background-color: #fff;
    // background-clip: padding-box;
    // border: 1px solid #ced4da;
    // appearance: none;
    // border-radius: 0.375rem;
    // transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    // font-family: inherit;   
    // box-sizing: border-box;
    width: 100%;
}

.tripType {
    display: inline-block;
    border: 1px rgb(160, 160, 160) solid;
    margin: 10px;

    svg {
        width: 70px;
        height: 70px;
        // background-color: rgb(189, 189, 189);
        cursor: pointer;
        padding: 10px;
    }

    &.selected {
        border: 1px salmon solid;
        background-color: rgb(252, 239, 238);
    }
}

.p-button {
    background-color: salmon;

    &:enabled:hover {
        background-color: salmon;
    }

    &:active {
        background-color: salmon;
    }
}

.addList{
    width: 50%;
}